html, body{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #3c096c;
    font-family: 'Montserrat', sans-serif;
    color:#c3c3c3;
}

.navigation{
    background-color: #3c096c;
    color: white;
    height: 50px;
    animation: navegacao 1s;
}

.navigation ul{
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    height: 50px;
}

.navigation li{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    font-size: 16px;
}

.navigation a{
    color: white;
    text-decoration: none;
}

.navigation a:hover{
    color: #ffaa00;
}

.navigation li.menu-icon{
    display: none;
}

.navigation li.menu-icon:hover{
    cursor: pointer;
    color: #ffaa00;
}

.capa{
    color: white;
}

.capa span{
    color: #ffaa00;
    display: block;
}

.capa div{
    display: inline-block;
    height: 650px;
}

.profile-pic{
    width: 40%;
    animation-name: profile-capa;
    animation-duration: 2s;
}

.profile-pic img{
    width: 350px;
    border-radius: 350px;
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.profile-title{
    vertical-align: top;
    width: 59%;
    animation-name: titulo-capa;
    animation-duration: 2s;
}
.profile-title h1{
    text-transform: uppercase;
    font-size: 58px;
    margin-top: 200px;
    font-weight: 600;
    line-height: 60px;
}

.profile-title h2{
    font-size: 16px;
    font-weight: 100;
    margin-top: -26px;
}

.main{
    padding: 0px 180px 80px 70px;
    animation: capa 1s;
}

.main h1{
    color: white;
    font-weight: normal;
}

.main h2{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 40px;
}

.main h3{
    font-size: 12px;
    color: #ffaa00;
    text-transform: uppercase;
}

.main p{
    font-size: 18px;
    font-weight: 100;
    line-height: 18px;
    text-align: justify;
}

.caminho{
    list-style: none;
    padding-left: 0;
    color: grey;
}

.caminho li{
    display: inline-block;
}

.caminho a{
    color: grey;
}
.sv-pic{
    float: left;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.social-img{
    width: 50px;
    margin: 10px;
}

.miniatura {
    width: 320px;
    height: 320px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-size: contain;
    overflow: hidden;
}

.miniatura a{
    text-decoration: none;
}

.blackbox{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: 1s;
    padding-top: 120px;
}

.blackbox:hover{
    opacity: 0.8;
    transition: 1s;
}

.blackbox-text{
    text-align:center;

}

.blackbox-text h1{
    font-size: 16px;
    color: #ffaa00;
    margin-top: 0px;
    text-transform: uppercase;
}
.blackbox-text h2{
    text-transform: none;
    margin-top: 0px;
    font-weight: 100;
}

.foto-trabalhos{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.back-link{
    color: #ffaa00;
}